<a href="https://colab.research.google.com/github/goswamishipra15/Algorithmic-Toolbox/blob/master/BREAST_CANCER_PREDICTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd

In [ ]:
data=pd.read_csv('./Breast_cancer_data.csv')

In [ ]:
data.head()

   mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0        17.99         10.38  ...          0.11840          0
1        20.57         17.77  ...          0.08474          0
2        19.69         21.25  ...          0.10960          0
3        11.42         20.38  ...          0.14250          0
4        20.29         14.34  ...          0.10030          0

[5 rows x 6 columns]

In [ ]:
data.tail()

     mean_radius  mean_texture  ...  mean_smoothness  diagnosis
564        21.56         22.39  ...          0.11100          0
565        20.13         28.25  ...          0.09780          0
566        16.60         28.08  ...          0.08455          0
567        20.60         29.33  ...          0.11780          0
568         7.76         24.54  ...          0.05263          1

[5 rows x 6 columns]

In [ ]:
data.shape

(569, 6)

In [ ]:
data.describe()

       mean_radius  mean_texture  ...  mean_smoothness   diagnosis
count   569.000000    569.000000  ...       569.000000  569.000000
mean     14.127292     19.289649  ...         0.096360    0.627417
std       3.524049      4.301036  ...         0.014064    0.483918
min       6.981000      9.710000  ...         0.052630    0.000000
25%      11.700000     16.170000  ...         0.086370    0.000000
50%      13.370000     18.840000  ...         0.095870    1.000000
75%      15.780000     21.800000  ...         0.105300    1.000000
max      28.110000     39.280000  ...         0.163400    1.000000

[8 rows x 6 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [ ]:
#splitting data
x=data.drop(["diagnosis"],axis=1)
y=data.iloc[:,-1].values

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
#creating model
lr=LogisticRegression()

In [ ]:
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [42]:
y_predicted=lr.predict(x_test)

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
print("Accuracy:",accuracy_score(y_predicted,y_test))

Accuracy: 0.9230769230769231

In [46]:
inp = input('Enter the values to predict the breast cancer:')
inp = list(map(float, inp.split()))
y_pred = lr.predict([inp])
if y_pred==0:
  print("You do not have breast cancer")
else:
  print("You have breast cancer")

Enter the values to predict the breast cancer:19.69	21.25	130.00	1203.0	0.10960
You do not have breast cancer